<div class="container">
  <div class="col-md-6">
    <h2 class="text-center"> Customer Details</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Customer name</th>
        <th>Other details</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td class="hidden">{{customer.id}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.otherDetails}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCustomer(customer)"> Delete customer</button>
          <button class="btn btn-danger" (click)="editCustomer(customer)" style="margin-left: 20px;"> Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

